<h1 class="m-3 text-center">Articles</h1>
<%= render 'article' %>

<%= link_to 'New Article', new_article_path, :class => 'btn btn-primary' %>
<%= link_to 'Sign Up', signup_path, :class => 'btn btn-primary' %>

