 <div class="container mt-5">
    <h1 class="text-center">User Profile</h1>
    <div class="row d-flex justify-content-center mb-3">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0"><%= @user.username %></h5>
                    <h5 class="mt-2 mb-0">Latest Articles</h5>
                </div>
            </div>
        </div>
    </div>

  <%= render 'articles/article' %>
  
</div>